#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.swiper-slide {
  /* font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 30px; */
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

/* new css */
@import url("https://rsms.me/inter/inter-ui.css");

/* Variables */
:root {
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter UI", sans-serif;
}

/* Wrapper */
/* .wrapper {
  width: 100vw;
  height: 100vh;
  background: #12c2e9; 
  background: linear-gradient(to right, #ec008c, #fc6767);
} */

/* Swiper Container */
.swiper-container {
  /* position: absolute;
  z-index: 3;
  width: 50vw;
  
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%); */
  border-radius: 1.5rem;
  box-shadow: 2px 2px 120px -31px rgba(0, 0, 0, 0.8);
  height: 50vh;
}

/* Swiper Slide */
.swiper-slide {
  background-color: white;
  border-radius: 0rem;
}

/* Slider Left */
.swiper-slide .slider-left {
  display: inline-block;
  width: 40%;
  height: 100%;
}
.swiper-slide .card-container {
  border-radius: 3.5rem;
}
.swiper-slide .slider-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .slider-left img.changing {
  border-radius: 0;
}

/* Slider Right */
.swiper-slide .slider-right {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  border: 2.5rem solid white;
  height: 100%;
  overflow: hidden;
}

.swiper-slide .slider-right h1 {
  font-weight: 900;
  font-size: 2rem;
  background: -webkit-linear-gradient(#ec008c, #fc6767);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.swiper-button-prev,
.swiper-button-next {
  font-weight: 700;
  /* background: #bababa; */
  /* padding: 30px; */
}
.swiper-slide .slider-right h5 {
  display: inline-block;
  margin: 1rem 1rem 0 0;
  color: #fc6767;
}

.swiper-slide .slider-right h5:before {
}

.swiper-slide .slider-right p {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  line-height: 1.2rem;
}

/* Slider Right Animation */
.swiper-slide .slider-right.animate h1 {
  animation: title 1s var(--ease-out-cubic) 0s 1 normal;
}

.swiper-slide .slider-right.animate h5 {
  animation: subtitle 1s var(--ease-out-cubic) 0s 1 normal;
}

.swiper-slide .slider-right.animate p {
  animation: copy 1s var(--ease-out-cubic) 0s 1 normal;
}

/* Keyframes */
@keyframes title {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  1% {
    transform: translateY(10px);
    opacity: 0;
  }
  2% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes subtitle {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  1% {
    transform: translateY(10px);
    opacity: 0;
  }
  25% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
